[submodule "yardio-module-core"]
	path = yardio-module-core
	url = https://github.com/yardio/yardio-module-core.git
[submodule "yardio-module-jira"]
	path = yardio-module-jira
	url = https://github.com/yardio/yardio-module-jira.git
[submodule "yardio-module-zik"]
	path = yardio-module-zik
	url = https://github.com/yardio/yardio-module-zik.git
[submodule "yardio-api-slack"]
	path = yardio-api-slack
	url = https://github.com/yardio/yardio-api-slack.git
[submodule "yardio-provider-slack"]
	path = yardio-provider-slack
	url = https://github.com/yardio/yardio-provider-slack.git
[submodule "yardio-server-play"]
	path = yardio-server-play
	url = https://github.com/yardio/yardio-server-play.git
[submodule "yardio-module-bitbucket"]
	path = yardio-module-bitbucket
	url = https://github.com/yardio/yardio-module-bitbucket.git
[submodule "yardio-connector-api"]
	path = yardio-connector-api
	url = https://github.com/yardio/yardio-connector-api.git
[submodule "yardio-connector-config"]
	path = yardio-connector-config
	url = https://github.com/yardio/yardio-connector-config.git
[submodule "yardio-models"]
	path = yardio-models
	url = https://github.com/yardio/yardio-models.git
[submodule "yardio-utils"]
	path = yardio-utils
	url = https://github.com/yardio/yardio-utils.git
